{{#each product}}
<div>
    <h2>producto</h2>
    <p>title:{{this.title}}</p>
    <p>description:{{this.description}}</p>
    <p>price:{{this.price}}</p>
    <img src="{{this.thumbnail}}"></p>
    <p>stock:{{this.stock}}</p>
    <p>status:{{this.status}}</p>
    <p> category:{{this.category}}</p>
</div>
{{/each}}

