<h1>productos</h1>
<div class="container-product" id="products">
    {{#each product}}
      <div class="container-product-card">
            <div class="product-card">
                <img src="{{this.thumbnails}}" alt="{{this.title}}"/>
                <span >{{this.id}}</span>
                <h2 >{{this.title}}</h2>
                <p >{{this.description}}</p>
                <div class="detalle">
                    <span>PRICE: ${{this.price}}</span>
                    <span>CODE: {{this.code}}</span>
                    <span>STOCK: {{this.stock}}</span>
                    <span>STATUS: {{this.status}}</span>
                </div>
            </div>
     </div>
{{/each}}
</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

