<div>
    <h1>Hola</h1>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <p>price:{{this.price}}</p>
    <img src="{{this.thumbnail}}"></p>
    <p>stock:{{this.stock}}</p>
    <p>status:{{this.status}}</p>
    <p> category:{{this.category}}</p>
    <a href="#">hola</a>
    <p>{{mensaje}}</p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

